/node_modules
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.editorconfig

/public/hot
/public/storage
/public/build
/public/build/manifest.json
/public/vendor
public/js/app.js.LICENSE.txt
